.idea/
/web/node_modules
/web/dist
node_modules

.DS_Store

# local env files
.env.local
.env.*.local

# Log folder
go_base_server/chunk
go_base_server/finish
go_base_server/logs
dump.rdb
go_base_server/dump.rdb

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

go.sum
/go_base_server/uploads/file/
/go_base_server/log/
/go_base_server/app/service/system/log/
/go_base_server/latest_log
/go_base_server/.idea

*.iml
